// Machine-specific outputs (Dual monitor: Primary 27" 100Hz left, Dell right)
output "HDMI-A-1" {
    mode "1920x1080@100.000"
    scale 1.0
    position x=0 y=0
}

output "DP-1" {
    mode "1600x900@60.000"
    scale 1.0
    position x=1920 y=0
}
